<mat-toolbar color="primary">
  <span>Digital Maintenance Tracker</span>
  <span class="spacer"></span>

  <button
    mat-button
    routerLink="/maintenance/new"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    New Request
  </button>
  <button
    mat-button
    routerLink="/maintenance/history"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    My Requests
  </button>
  <button
    mat-button
    routerLink="/technician/dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Technician
  </button>
  <button
    mat-button
    routerLink="/admin/dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Admin
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
