<mat-card>
  <h2>My Maintenance Requests</h2>

  <table mat-table [dataSource]="requests" class="mat-elevation-z8 full-width">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let row">{{ row.category }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">{{ row.status }}</td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let row">
        {{ row.created_at | date:'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="feedback">
  <th mat-header-cell *matHeaderCellDef>Feedback</th>
  <td mat-cell *matCellDef="let row">
    <button
      mat-button
      color="accent"
      *ngIf="row.status === 'Resolved' && !row.feedback_rating"
      [routerLink]="['/feedback', row.id]"
    >
      Give Feedback
    </button>

    <span *ngIf="row.feedback_rating">
      ⭐ {{ row.feedback_rating }}
    </span>
  </td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</mat-card>
