@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Overriding some default Tailwind preflights if they conflict with Material */
.mat-mdc-card {
    background-color: white;
}